* {
    box-sizing: border-box;
}

/* Resetting default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Background and general styling */
  body {
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMDUtYi0wMDdhLWt4Z3VldTJ0LmpwZw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  /* Countdown container styling */
  .countdown-container {
    text-align: center;
    height: 25vh;
  }
  
  /* Title styling */
  h1 {
    font-size: 3em;
    color: #6c3483; /* Purple title */
    margin-bottom: 20px;
  }
  
/* Countdown wrapper styling */
.countdown-wrapper {
  background-color: #9b59b6;
  color: #fff;
  font-size: 2em; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  border-radius: 10px; /* Set the desired width to control clickable area */
  margin: 0 auto; /* Center the wrapper */
  cursor: pointer;
}

.countdown-wrapper:hover {
  cursor: pointer;
}
  
  /* Individual digit box styling */
  .countdown div {
    background-color: #9b59b6; /* Darker purple background for digit box */
    color: #fff; /* White text color */
    font-size: 2em;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    margin: 0 5px;
    line-height: 60px;
  }
  
  /* Text for labels (days, hours, etc.) */
  .label {
    color: #6c3483; /* Purple text color */
    font-size: 1.5em;
    margin-top: 10px;
  }

  #revealImage {
    display: none; /* Initially hide Ethan's image */
    margin-top: 100px; /* Adjust the top margin as needed to move the image down */
  }
  